<aside class="bg-primary-subtle min-vh-100 p-3">
    <ul class="list-unstyled d-flex flex-column align-items-center gap-4">
        <li>Movies</li>
        <li>Categories</li>
        <li>Directors</li>
    </ul>
</aside>