<aside class="bg-primary-subtle min-vh-100 p-3">
    <ul class="list-unstyled d-flex flex-column align-items-center gap-4">
        <li><a href="/" class="text-decoration-none text-black">Movies</a></li>
        <li><a href="/categories" class="text-decoration-none text-black">Categories</a></li>
        <li><a href="/directors" class="text-decoration-none text-black">Directors</a></li>
    </ul>
</aside>