<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Create <%= title %></h1>
    <form action="/create" method="POST">
        <input type="text" name="title" id="title">
        <textarea name="desc" id="desc" placeholder="Description"></textarea>
        <input type="text" name="rating" id="rating">
        <select name="category" id="category">
            <% categories.forEach((category) => { %>
                <option value="<% category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <select name="director" id="director">
            <% directors.forEach((director) => { %>
                <option value="<% director.id %>"><%= director.name %></option>
            <% }) %>
        </select>
        <button type="submit">Create Movie</button>
    </form>
</body>
</html>