<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Create <%= title %></h1>
    <form action="/director/create" method="POST">
        <input type="text" name="director_name" id="director_name">
        <button type="submit">Create Director</button>
    </form>
</body>
</html>